.taxCalculator {
  width: 860px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.box {
  width: 50%;
  height: 512px;
  padding: 32px;
}

.cover {
  height: 100%;
  border-radius: 5px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #8477c9;
}

.cover .planetoid {
  position: absolute;
  bottom: 0;
  left: 0;
}

.cover .moon {
  position: absolute;
  bottom: 86px;
  left: 128px;
}

.cover .brandContent {
  position: absolute;
  padding-top: 128px;
}

.cover .brandTitle {
  font-family: Lato;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}

.cover .brandText {
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}

.cover .detailContent {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 16px;
}

.cover .detailTitle {
  margin-bottom: 8px;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}

.cover .estimatedTax {
  height: 70px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 5px;
  font-family: Lato;
  font-size: 36px;
  font-weight: 700;
  line-height: 43px;
  letter-spacing: 0em;
  text-align: left;
  color: #8477c9;
}

.taxBracket {
  height: 48px;
  margin-bottom: 8px;
  padding: 0 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  border-radius: 5px;
}

.taxBracket .title {
  font-family: Lato;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
}

.taxBracket .range {
  font-family: Lato;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
}

.taxBracket .value {
  font-family: Lato;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #8477c9;
}

.calculator {
  height: 100%;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.calculator .title {
  margin-bottom: 8px;
  font-family: Lato;
  font-size: 32px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: left;
}

.calculator .tip {
  width: 100%;
  height: 40px;
  margin: 8px 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border: solid 2px #8477c9;
  border-radius: 5px;
}
.calculator .tip .icon {
  margin: 0 8px;
  color: #8477c9;
}
.calculator .tip .text {
  font-family: Lato;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
  color: #8477c9;
}

.calculator .calculateButton {
  margin-top: 8px;
}

.calculator .backButton {
  margin-top: 8px;
  font-family: Lato;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #8477c9;
  border-bottom: solid 1px #8477c9;
  cursor: pointer;
}
