.taxCalculator {
  width: 860px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.box {
  width: 50%;
  height: 512px;
  padding: 32px;
}

.brandCover {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #8477c9;
}

.brandCover .planetoid {
  position: absolute;
  bottom: 0;
  left: 0;
}

.brandCover .moon {
  position: absolute;
  bottom: 86px;
  left: 128px;
}

.brandCover .brandContent {
  padding-top: 128px;
}

.brandCover .brandTitle {
  font-family: Lato;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}

.brandCover .brandText {
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}

.detailCover {
  background-color: #8477c9;
}

.calculator {
  height: 100%;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.calculator .title {
  margin-bottom: 8px;
  font-family: Lato;
  font-size: 32px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: left;
}

.calculator .tip {
  width: 100%;
  height: 40px;
  margin: 8px 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border: solid 2px #8477c9;
  border-radius: 5px;
}
.calculator .tip .icon {
  margin: 0 8px;
  color: #8477c9;
}
.calculator .tip .text {
  font-family: Lato;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
  color: #8477c9;
}

.calculator .calculateButton {
  margin-top: 8px;
}
